// Colors
$color-dark: #303030;
$color-primary: #54ED39;
$color-secondary: #FBFE5D;
$color-bg1: #92F2FF;
$color-bg2: #F9FE7E;

// Text

$font-x-small: 14px;
$font-small: 16px;
$font-medium: 18px;
$font-large: 24px;
$font-x-large: 36px;