@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,700i&display=swap&subset=cyrillic-ext');
@import './reboot';
@import './variables';
@import './animations';

@import './parts/btn';
@import './parts/header';
@import './parts/offer';
@import './parts/preview';

html {
  font-family: 'Roboto', sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}