@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,700i&display=swap&subset=cyrillic-ext');
@import './reboot';
@import './variables';
@import './animations';

@import './parts/btn';
@import './parts/calculating';
@import './parts/footer';
@import './parts/header';
@import './parts/menu';
@import './parts/modal';
@import './parts/offer';
@import './parts/order';
@import './parts/preview';
@import './parts/promotion';
@import './parts/sideimgs';
@import './parts/sidepanel';

html {
  font-family: 'Roboto', sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1;
}
section {
  position: relative;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.divider {
  width: 330px;
  height: 1px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);;
}

.title {
  font-size: $font-x-large;
  font-weight: 400;
}