footer.footer
    .container
        .social
            .subtitle Our social:
            a.link(href='#') instagram
            a.link(href='#') facebook
        .pepper
            img.svg-veg-dims(src='img/icons.svg#veg' alt='pepper')
        .call
            .subtitle Call us
            a.link(href='tel:13342288841') + 1-334-228-8841
            a.link(href='tel:13342288842') + 1-334-228-8842
