header.header
    .header__left-block
        .header__logo
            img(src='img/icons.svg#logo' alt='Logo')
        nav.header__links
            a.header__link(href='#') Delivery
            a.header__link(href='#') Recipes
            a.header__link(href='#') Grocery
    .header__right-block
        button.btn.btn_white(data-modal='') Contact us
