.offer
    .bgc_y
    .container
        .offer__text
            h2.title What can we suggest?
            .offer__descr
                //- Наша основная идея - это правильное питание. Оно может быть простым и вкусным. Мы не просто доставка, мы сервис! Мы взяли на себя все расчеты БЖУ, калорийности, объемов порций и прочие важные, но скучные аспекты. Вам остается только полезная, сытная и правильная еда, которую мы привозим прямо под дверь.
                | Our main idea is proper nutrition. It can be simple and delicious. We are not just a delivery, we are a service! We took care of all the calculations of BJU, calories, portion sizes and other important but boring aspects. All you have left is healthy, satisfying and proper food, which we bring right to your door.
        .offer__action
            button.btn.btn_dark(data-modal='') Contact us
    .container
        .offer__advantages
            h2 Fast and healthy
            .offer__advantages-text
                //- Готовка дома занимает много сил, времени и нервов. Мы привозим еду сразу на целый день, и ты можешь действовать так, как тебе удобно, не подстраиваясь ни под кого и будучи уверенным в качестве продукта!
                | Cooking at home takes a lot of effort, time and nerves. We bring food for the whole day at once, and you can act as you like, without adjusting to anyone and being confident in the quality of the product!
            h2 Proper diet
            .offer__advantages-text
                //- Мы разработали специальное меню, где учтены все нюансы правильного питания, от баланса БЖУ до их приготовления и дробления рациона.
                | We have developed a special menu that takes into account all the nuances of proper nutrition, from the balance of proteins, fats, carbohydrates to their preparation and splitting the diet.
        .offer__slider
            .offer__slider-counter
                button.offer__slider-prev
                    img.svg-left-dims(src='img/icons.svg#left' alt='prev')
                span#current 03
                | /
                span#total 04
                button.offer__slider-next
                    img.svg-right-dims(src='img/icons.svg#right' alt='next')
            .offer__slider-wrapper
                .offer__slider-inner
.divider