.menu 
    h2.title Our menus for a day
    .menu__field 
        .container 
        //- Place for menu cards
.order
    .container
        .title Order trial day right now!
        form.order__form(action='#')
            input.order__input(required='' placeholder='Your name' name='name' type='text')
            input.order__input(required='' placeholder='Your phone number' name='phone' type='phone')
            img.svg-right-dims(src='img/icons.svg#right' alt='-->')
            button.btn.btn_dark.btn_min Call me back
.divider