.preview
    .bgc_blue
    .container
        .tabcontainer
            .tabcontent
                img(src='img/tabs/vegy.jpg' alt='vegy')
                .tabcontent__descr
                    //- Меню "Фитнес" - это новый подход к приготовлению блюд: больше свежих овощей и фруктов. Для людей, которые интересуются спортом; активных и здоровых. Это абсолютно новый продукт с оптимальной ценой и высоким качеством!
                    | Menu "Fitness" is a new approach to cooking: more fresh vegetables and fruits. For people who are interested in sports; active and healthy. This is a brand new product with the best price and high quality!
            .tabcontent
                img(src='img/tabs/elite.jpg' alt='elite')
                .tabcontent__descr
                    //- Меню “Премиум” - мы используем не только красивый дизайн упаковки, но и качественное исполнение блюд. Красная рыба, морепродукты, фрукты - ресторанное меню без похода в ресторан!
                    | Menu "Premium" - we use not only beautiful packaging design, but also high-quality execution of dishes. Red fish, seafood, fruits - a restaurant menu without going to a restaurant!
            .tabcontent
                img(src='img/tabs/post.jpg' alt='post')
                .tabcontent__descr
                    //- Наше специальное “Постное меню” - это тщательный подбор ингредиентов: полное отсутствие продуктов животного происхождения. Полная гармония с собой и природой в каждом элементе! Все будет Ом!     
                    | Our special "Lenten Menu" is a careful selection of ingredients: the complete absence of animal products. Complete harmony with yourself and nature in every element! Everything will be Yum!
            .tabcontent
                img(src='img/tabs/vegy.jpg' alt='vegy')
                .tabcontent__descr
                    //- Меню "Сбалансированное" - это соответствие вашего рациона всем научным рекомендациям. Мы тщательно просчитываем вашу потребность в к/б/ж/у и создаем лучшие блюда для вас.
                    | The "Balanced" menu is the compliance of your diet with all scientific recommendations. We carefully calculate your need for c/w/w/y and create the best dishes for you.
            .tabheader
                h3 Choose your eat mode
                .tabheader__items
                    .tabheader__item.tabheader__item_active Fitness
                    .tabheader__item Premium
                    .tabheader__item Lenten
                    .tabheader__item Balanced
        .preview__life Live a full life!
.divider 
