.promotion
    .bgc_y
    .container
        .promotion__text
            .title Promotion for new customers!
            .promotion__descr
                //- Мы ценим каждого клиента и предлагаем вам стать одним из них на очень выгодных условиях. Каждому, кто закажет доставку питание на неделю, будет предоставлена скидка в размере <span>20%!</span>
                //- <br><br>
                //- Акция закончится 20 мая в 00:00
                | We value every client and offer you to become one of them on very favorable terms. Each one who orders food delivery for a week will receive a discount of
                span  20%!
                br
                br
                | Promotion will end on Nowember 20th at 00:00
        .promotion__timer
            .title Promotion ends in:
            .timer
                .timer__block
                    span#days 12
                    | days
                .timer__block
                    span#hours 20
                    | hours
                .timer__block
                    span#minutes 56
                    | minutes
                .timer__block
                    span#seconds 20
                    | seconds
