.btn {
  width: 220px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-size: $font-medium;
  font-weight: bold;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.3s all;
  outline: none;
  &_white {
    background-color: #fff;
  }
  &_dark {
    background-color: $color-dark;
    color: #fff;
    border: none;
  }
  &:hover {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.3);
  }
}
