.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    padding: 0 100px;
    &__left-block {
        display: flex;
        justify-content: space-between;
        min-width: 600px;
    }
    &__logo {
        max-width: 170px;
        img {
            width: 220px; 
            height: 54px;
        }
    }
    &__links {
        display: flex;
        align-items: center;
    }
    &__link {
        position: relative;
        margin-right: 45px;
        font-weight: bold;
        font-size: $font-large;
        color: $color-dark;
        &:after {
            content: '';
            position: absolute;
            display: block;
            width: 110%;
            left: -5%;
            bottom: 0;
            z-index: -1;
            height: 8px;
            background: $color-primary;
            transition: 0.5s;
        }
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            text-decoration: none;
            color: $color-dark;
            &::after {
                height: calc($font-large *1.4);
            }
        }
    }
    &__bg {
        position: absolute;
        z-index: -1;
        right: 0;
        top: 0;
        width: 50vw;
        height: 150px;
        background: rgba(146, 242, 255, 0.15);
    }
}