footer.footer
    .container
        .social
            .subtitle Our socials:
            a.link(href='#') 
                img(src='img/icons.svg#instagram' alt='Logo')
            a.link(href='#') 
                img(src='img/icons.svg#facebook' alt='Logo')
        .pepper
            img(src='img/icons.svg#veg' alt='pepper')
        .call
            .subtitle Call us:
            a.link(href='tel:13342288841') + 1-334-228-8841
            a.link(href='tel:13342288842') + 1-334-228-8842
