header.header
    .header__left-block
        .header__logo
            a(href='/')
                img(src='img/icons.svg#logo' alt='Logo')
        nav.header__links
            a.header__link(href='/delivery.html') Delivery
            a.header__link(href='/recipes.html') Recipes
            a.header__link(href='/grocery.html') Grocery
    .header__right-block
        button.btn.btn_white(data-modal='') Contact us
    .header__bg